---
import { Header, Breadcrumbs, DocsComponent} from "mee-components";
import { header, meeFoundation } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";

const data = {
  users: {
    enabled: true,
    link: "/docs/users/smartwallet",
  },
  developers: {
    enabled: true,
    link: "/docs/developers/smartwallet",
  },
};
---

<Layout title="Docs">
  <main class="">
    <Header header={header} activePage="docs" location="Mee Smartwallet" />
    <article
      class="relative flex h-full min-h-screen w-screen flex-col items-center gap-6 overflow-hidden"
    >
      <div class="mt-27 pt-16">
        <Breadcrumbs
          className="hidden md:flex"
          breadcrumbs={[
            { title: "Projects", link: `${meeFoundation}projects/` },
            { title: "Mee Smartwallet", link: `/` },
            { title: "Docs" },
          ]}
        />
      </div>
      <DocsComponent data={data} title="Mee Smartwallet Docs" />
    </article>
  </main>
</Layout>
