---
import { Header } from "mee-components";
import { header } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";
import { DocsComponent } from "mee-components";

const data = {
  users: {
    enabled: true,
    link: "/docs/users/smartwallet",
  },
  providers: {
    enabled: false,
    link: "",
  },
  developers: {
    enabled: true,
    link: "/docs/developers/smartwallet",
  },
};
---

<Layout title="Docs">
  <main class="">
    <article
      class="relative flex h-full min-h-screen w-screen flex-col items-center gap-2 overflow-hidden md:gap-16"
    >
      <Header header={header} activePage="docs" />
      <DocsComponent data={data} />
    </article>
  </main>
</Layout>
