---
import Layout from "@layouts/Layout.astro";
import { Header, Footer } from "mee-components";
import { header, footer } from "../../astro.config.mjs";
---

<Layout title="Mee Smartwallet">
  <Header header={header} />
  <main class="">
    <article
      class="relative mt-27 flex h-full min-h-screen w-screen flex-col items-center justify-between gap-16 overflow-hidden"
    >
      <section
        class="section top-0 z-100 mb-3.5 mt-16 flex h-full w-screen items-center justify-center"
      >
        <div
          class="flex max-w-150 flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500 md:p-0"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-4xl font-semibold text-gray-900 lg:text-7xl lg:tracking-0.02"
            >
              Mee Smartwallet
            </h1>
          </div>
          <div class="overflow-hidden">
            <a
              class="text animation-delay-800 animate-riseIn px-6 text-center text-xl leading-relaxed text-brand-600 underline md:text-2xl"
              href="/docs"
            >
              Mee Smartwallet Docs <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </section>
      <div><Footer footer={footer} mode="dark" /></div>
    </article>
  </main>
</Layout>
<style>
  .bg-1 {
    content: "";
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    min-height: 150vh;
    height: 140%;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    width: 400vw;
  }
</style>
