:root,
::backdrop {
  --purple-hsl: 255, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  --sl-mee-accent: #4f868e;
  --sl-nav-height: auto !important;
  --sl-color-bg-nav: black;
  --sl-color-bg-sidebar: black;
  --sl-color-hairline-shade: --color-grey-200;
}

:root[data-theme="light"] {
  --purple-hsl: 255, 85%, 65%;
  --sl-color-bg-nav: white;
  --sl-color-bg-sidebar: white;
}

html[data-theme="dark"] {
  background-color: black;
}

[data-has-hero] .page {
  background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-text-accent: var(--sl-mee-accent);
}

:root {
  --sl-font: public-sans;
}

site-search button[aria-label="Search"] {
  @apply mx-auto !h-9 !w-full !max-w-80 !rounded-2xl !border !border-solid !border-grey-300 !pe-2 !ps-3 !text-sm !text-[var(--sl-color-gray-2)];
}

site-search button[aria-label="Search"] span {
  @apply block;
}

starlight-theme-select label {
  --sl-label-icon-size: 0.875rem;
  --sl-caret-size: 1.25rem;
  --sl-inline-padding: 0.5rem;
  @apply relative flex items-center gap-1 text-[var(--sl-color-gray-1)];
}

starlight-theme-select select {
  border: 0;
  padding-block: 0.625rem;
  padding-inline: calc(var(--sl-label-icon-size) + 0.25rem)
    calc(var(--sl-caret-size) + 0.25rem);
  width: var(--sl-select-width);
  background-color: transparent;
  text-overflow: ellipsis;
  color: inherit;
  cursor: pointer;
  appearance: none;
}

.right-sidebar {
  @apply relative border-s-0;
}

mobile-starlight-toc nav {
  @apply relative start-0 border-l border-r border-t-0;
}

starlight-toc li {
  position: relative;
}

starlight-toc a {
  @apply text-sm font-normal !text-brand-950 hover:bg-gray-100;
  --pad-inline: 1rem;
  border-radius: 0;
  padding-block: 0.5rem;
}

starlight-toc a[aria-current="true"] {
  @apply text-sm font-semibold hover:bg-transparent;
}

starlight-toc a::before {
  @apply absolute -left-0 bottom-0 h-full w-px bg-[var(--sl-color-hairline)] content-[''];
}

starlight-toc h2 {
  @apply !mb-4 text-base font-semibold;
}

starlight-toc a:hover::before,
starlight-toc a:focus::before {
  @apply bg-gray-300;
}

starlight-toc a[aria-current="true"]::before,
starlight-toc a[aria-current="true"]:hover::before,
starlight-toc a[aria-current="true"]:focus::before {
  @apply bg-[var(--sl-mee-accent)];
}

nav.sidebar {
  @apply relative;
}

nav.sidebar .sidebar-pane {
  @apply absolute left-0 top-0 h-[80vh] border-e-0;
}

.main-frame .main-pane {
  @apply border-l border-t-0 border-[var(--sl-color-hairline-shade)];
}

starlight-menu-button button {
  @apply absolute -top-[46px] flex items-center justify-center border border-solid border-grey-300 shadow-none;
}

starlight-menu-button[aria-expanded="true"] button {
  @apply border-grey-400 !bg-grey-100;
}

/* starlight-menu-button button {
  @apply relative flex items-center justify-center shadow-none border border-solid border-grey-300 m-0 start-0 top-0.5;
} */

.content-panel h1 {
  @apply text-3xl font-semibold md:text-5xl;
}

starlight-theme-select {
  @apply !hidden;
}

.right-sidebar-panel {
  @apply mt-5;
}

.main-frame .main-pane ol,
.main-frame .main-pane ul,
.main-frame .main-pane menu {
  list-style: disc;
  padding-left: 2rem;
  margin: auto;
}
